*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.topbar{
    background-color: #04145e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.topbar {
    height: 42px;
    padding: 0 22px;
}

.topbar-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.topbar-left .social i{
    margin-left: 6px;
    cursor: pointer;
    font-size: 15px;
}
.topbar-right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search {
    background: #0d1a50;
    border: 1px solid #1d2a70;
    border-radius: 4px;
    height: 28px;
    width: 180px;
}

.topbar-right i{
    color: white;
    cursor: pointer;
}
.main-nav a{
    color: white;
    margin: 0 5px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
}


.login-btn{
    background-color: #6BC6EF;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.brand-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    background-color: white;
    margin-top: 0px;
    height: 100px;
    margin-left: 5rem;
    margin-right: 5rem;
    
    /* box-shadow:  0 2px 8px rgba(0,0,0,0.05);; */
}

.brand-row{
    transform: translateY(-8px); 
    position: relative;
    z-index: 1; 
}

.brand{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo{
    width: 130px;
    height: 130px;
    object-fit: contain;
    transform: translateY(-6px); 
}
.contact-actions{
    display: flex;
    align-items: center;
    gap: 20px;
}
.phone p{
    color: #04145e;
    margin: 0;
}
.buttons .btn{
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    width: auto;
}
.appointment{
    background-color: #6BC6EF;
    border: 1px solid #6BC6EF;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    
}
.location{
    border: 2px solid #6BC6EF;
    margin: left 10px;
    background-color: white;
    padding: 8px 16px;
    
}
@media(max-width: 900px) {
    .brand-row {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        transform: translateY(-6px);
    }
    .contact-actions {
        flex-direction: column;
        gap: 10px;
    }

    .logo{
        width: 110px;
        height: 110px;
        transform: translateY(-4px);
    }

    .hero-inner{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .hero-content{
        text-align: center;
        order: 1;
        transform: none; 
    }
    .hero-illustration{
        order: 2;
        transform: none; 
    }
    .hero-illustration .doctors-img{
        max-width: 370px;
    }
}

.topbar{
    position: relative;
    z-index: 3;
}

.phone {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.number-icon{
    font-size: 24px;
    color: #04145e;
}

.phone-text{
    display: flex;
    flex-direction: column;
    gap: 2px;
    line-height: 1.1;
}

.phone-text .toll{
    font-size: 14px;
    font-weight: 600;
    color:black;
    margin: 0;
   
}

.phone-text .p-number{
    font-size: 16px;
    color: gray;
    margin: 0;
   
}

.specialities img{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-section {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom right, #f2fbff, #ffffff);
}

.hero-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content{
    flex: 1 1 60%;
    text-align: left;
    transform: translateX(-10px); 
}

.hero-illustration{
    flex: 0 0 40%;
    display: flex;
    justify-content: right; 
    transform: translateX(150px); 
}

.hero-illustration .doctors-img{
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: contain;
}

.hero-subtitle {
    color: #234a7e;
    font-size: 15px;
    margin-bottom: 8px;
}

.hero-title {
    font-size: 32px;
    font-weight: 700;
    color: #022b53;
    margin-bottom: 25px;
    line-height: 1.3;
}

.hero-features {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 25px;
   
}

.feature-item {
    text-align: center;
}

.feature-item img {
    width: 58px;
    height: 58px;
    margin-bottom: 8px;
}

.feature-item p {
    margin: 0;
    font-size: 14px;
    color: #343434;
}

.hero-desc {
    max-width: 520px;
    margin: 0;    
    color: #606060;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.hero-actions {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
}

.phone-btn {
    padding: 10px 20px;
    background: #e8faff;
    border: 2px solid #01c0de;
    border-radius: 30px;
    font-size: 14px;
    color: #022b53;
    cursor: pointer;
}

.consult-btn {
    padding: 10px 25px;
    background: #00c4e6;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.doctors-img { 
    display: block;
    max-width: 100%;
    height: auto;
}

.steps-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    background: #ffffff;
    margin-top: 40px;
}

.step-box {
    text-align: center;
    width: 180px;
}

.step-box img {
    width: 70px;
    height: 70px;
    margin-bottom: 12px;
}

.step-box h3 {
    font-size: 16px;
    color: #022b53;
    margin-bottom: 6px;
}

.step-box p {
    font-size: 13px;
    color: #777;
    margin: 0;
}


.spec-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.spec-header h2 {
    font-size: 26px;
    color: #022b53;
}


.spec-white-box {
    background: white;
    width: 85%;
    margin: 0 auto;
    padding: 25px 20px;
    border-radius: 18px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.spec-inner {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: nowrap;
    padding-bottom: 15px;
}

.spec-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

.spec-item2 img {
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
}

.spec-item2 p.active {
    color: #083c75;
    font-weight: bold;
}

.view-btn {
    background: #00c4e6;
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 12px;
}


.process-headings {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.process-headings .sub-title {
    color: #0097a7;
    font-size: 14px;
    margin-bottom: 8px;
}
.process-headings h2 {
    font-size: 26px;
    line-height: 1.3;
    color: #022b53;
}
